<html>
    <body>
        <h1>People</h1>
        <ul>
            {{#my_people}}
                <li><a href="person/{{id}}">{{first_name}} {{second_name}}</a></li>
            {{/my_people}}
        </ul>
    </body>
</html>
